# Общие .NET вещи
bin/
obj/
.vs/
*.user
*.suo

# Rider
.idea/
riderModule.iml
/_ReSharper.Caches/

# Секреты
.env
secrets.json
*.key
*.pfx
launchSettings.json
appsettings.Development.json
appsettings.json   # если хочешь защитить от коммита

# VS Code
.vscode/

# Логи
*.log

# OS-specific
.DS_Store
Thumbs.db