@* FloatingParticles.razor чтоб вставить его в нужных местах хоума *@

<div class="floating-particles">
    <!-- Левая группа -->
    <div class="particle-group group-left">
        <div class="particle size-large kanji wave-1 delay-1" style="top: 20%; left: 20%;">愛</div>
        <div class="particle size-medium hiragana wave-2 delay-3" style="top: 25%; left: 5%;">あ</div>
        <div class="particle size-small katakana wave-3 delay-2" style="top: 40%; left: 15%;">ア</div>
        <div class="particle size-medium kanji wave-1 delay-4" style="top: 55%; left: 8%;">夢</div>
        <div class="particle size-small symbol wave-2 delay-5" style="top: 70%; left: 18%;">☆</div>
    </div>
    
    <!-- Правая группа -->
    <div class="particle-group group-right">
        <div class="particle size-xl kanji wave-1 delay-2" style="top: 0; right: 15%;">魂</div>
        <div class="particle size-medium hiragana wave-3 delay-1" style="top: 30%; right: 5%;">の</div>
        <div class="particle size-large katakana wave-2 delay-4" style="top: 45%; right: 20%;">ノ</div>
        <div class="particle size-medium kanji wave-1 delay-3" style="top: 60%; right: 10%;">心</div>
        <div class="particle size-small symbol wave-3 delay-6" style="top: 75%; right: 12%;">◆</div>
    </div>
    
    <!-- Центральная группа -->
    <div class="particle-group group-center">
        <div class="particle size-medium kanji wave-2 delay-1" style="top: 20%; left: 30%;">和</div>
        <div class="particle size-small hiragana wave-1 delay-3" style="top: 35%; left: 60%;">を</div>
        <div class="particle size-large symbol wave-3 delay-2" style="top: 50%; left: 10%;">◯</div>
        <div class="particle size-medium katakana wave-2 delay-5" style="top: 65%; left: 70%;">ス</div>
        <div class="particle size-small kanji wave-1 delay-4" style="top: 80%; left: 40%;">力</div>
    </div>
</div>