@using Microsoft.JSInterop
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager Navigation

<div class="my-layout">
    @* TODO: Add current balance to the nav menu (on the right side preferrably) *@
    <nav id="navbar">
        <ul id="nav-list">
            <li class="nav-option">
                <a href="/" @onclick="@(_ => Navigation.NavigateTo("/"))">Home Page</a>
            </li>

            @if (currentPath != "/test")
            {
                <li class="nav-option">
                    <a href="/test" @onclick="GoBack">Go back</a>
                </li>
            }
        </ul>
    </nav>
    <div class="kanji-container">
        <span class="kanji-bg k1">友達</span>
        <span class="kanji-bg k2">交換</span>
        <span class="kanji-bg k3">夢</span>
        <span class="kanji-bg k4">心</span>
        <span class="kanji-bg k5">力</span>
        <span class="kanji-bg k6">光</span>
        <span class="kanji-bg k7">風</span>
        <span class="kanji-bg k8">花</span>
        <span class="kanji-bg k9">月</span>
    </div>

    <main>
        @Body
    </main>

</div>

@code {
    
    private string currentPath => "/" + Navigation.ToBaseRelativePath(Navigation.Uri).ToLower();
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("document.body.classList.add", "ready");
        }
    }

    private void GoBack()
    {

        Navigation.NavigateTo("/test");
    }
}