<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="css/nav-menu.css"/>
    <link rel="stylesheet" href="css/product-cards.css"/>
    <link rel="stylesheet" href="css/modalpopup.css"/>
    <link rel="stylesheet" href="css/profile-section.css"/>
    <link rel="stylesheet" href="css/shopcell.css"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="js/site.js"></script>
<script src="js/popup.js"></script>
</body>

</html>