<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="css/nav-menu.css"/>
    <link rel="stylesheet" href="css/product-cards.css"/>
    <link rel="stylesheet" href="css/modalpopup.css"/>
    <link rel="stylesheet" href="css/profile-section.css"/>
    <link rel="stylesheet" href="css/shopcell.css"/>
    <link rel="stylesheet" href="css/logo.css"/>
    <link rel="stylesheet" href="css/floating-particles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="css/contact-section.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Alexandria&display=swap" rel="stylesheet">
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="js/site.js"></script>
<script src="js/popup.js"></script>
</body>

</html>